<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Certificados emitidos</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Certificado</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Certificados</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let certificado of certificados$">
            <td>{{ certificado.id }}</td>
            <td>{{ certificado.nome }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(certificado.id)">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(certificado)">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #loading>
        <span>Carregando Certificados...</span>
      </ng-template>
  
      <!--ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar certificados. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando certificados...</span>
        </ng-template>
      </ng-template -->
    </div>
  </div>
  
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse certificado?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template>
  