<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="nome">Nome do Curso</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do Curso"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome')}"
      />
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']" >
        Por favor informe um nome para o curso.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']" >
        Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']" >
        Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>
    
    <div class="col-sm-4" style="margin-top: 10px;margin-right: 4em;">
      <label for="nome">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        placeholder="CPF"
        formControlName="cpf"
        [ngClass]="{ 'is-invalid': submitted && hasError('cpf')}"
      />
      <div class="invalid-feedback" *ngIf="hasError('cpf') && hasError('cpf')['required']" >
        Por favor informe um CPF.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('cpf') && hasError('cpf')['minlength']" >
        CPF precisa ter no mínimo {{ hasError('cpf')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('cpf') && hasError('cpf')['maxlength']" >
        CPF precisa ter no máximo {{ hasError('cpf')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>

    <div class="col-sm-7" style="margin-top: 10px;">
      <label for="cidade_origem">Cidade de origem</label>
      <input
        type="text"
        class="form-control"
        id="cidade_origem"
        placeholder="Cidade"
        formControlName="cidade_origem"
        [ngClass]="{ 'is-invalid': submitted && hasError('cidade_origem')}"
      />
      <div class="invalid-feedback" *ngIf="hasError('cidade_origem') && hasError('cidade_origem')['maxlength']" >
        Cidade de origem precisa ter no máximo {{ hasError('cidade_origem')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>


    

    <div class="col-sm-10" style="margin-top: 40px">
      <label for="nome">Tema</label>
      <input
        type="text"
        class="form-control"
        id="tema"
        placeholder="Tema"
        formControlName="tema"
      />
    </div>

    <div class="form-group col-sm-2" style="margin-top: 40px;">
      <label for="edicao">Edição</label>
      <input
        type="number"
        class="form-control"
        id="edicao"
        placeholder="Edição"
        formControlName="edicao"
      />
    </div>

    <div class="form-group row">
      <label for="data_hora_inicio" class="col-5 col-form-label">Data e hora do início</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local" formControlName="data_hora_inicio" id="data_hora_inicio">
      </div>
    </div>

    <div class="form-group row">
      <label for="data_hora_fim" class="col-5 col-form-label">Data e hora do fim</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local" formControlName="data_hora_fim" id="data_hora_fim">
      </div>
    </div>

    <div class="form-group col-sm-12" style="margin-top: 10px;">
      <label for="exampleFormControlSelect1">Local</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>



    <div class="col-sm-12" style="margin-top: 40px">
      <label for="tipo">Tipo</label>
      <input
        type="text"
        class="form-control"
        id="tipo"
        placeholder="Tipo"
        formControlName="tipo"
      />
    </div>

  </div>
  <div style="margin-top: 10px">
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
